{{$sid := .Season.Id}}
{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item active">{{.Season.Name}}</li>
	</ol>
</nav>
{{template "error" .Errors}}
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3>Season: {{.Season.Name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				{{range $k, $v := .Tabs}}
				<li class="nav-item">
					<a class="nav-link {{if $v.Active}}active{{end}}" href="season?id={{$sid}}&tab={{$k}}">{{$v.Name}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row p-2">
			<div class="col">
				<div class="row">
					<div class="col">
						<h5>Cars</h5>
					</div>
				</div>
				<div class="row">
						<div class="col">
							<table class="table table-hover table-sm">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Car Name</th>
										<th scope="col">Weight (oz)</th>
										<th scope="col">Driver</th>
										<th scope="col">Class</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{{range .Season.Cars}}
									<tr>
										<td>{{.Number}}</td>
										<td>{{.Name}}</td>
										<td>{{.Weight}}</td>
										<td>{{.Driver}}</td>
										<td>{{.Class.Name}}</td>
										<td></td>
									</tr>
									{{end}}
									{{if not .Season.Heats}}
									<tr>
										<form class="form-inline" method="post">
											<input type="hidden" name="action" value="addcar">
											<td><input class="form-control" type="text" name="carnumber" placeholder="Car Number" maxlength="3"></td>
											<td><input class="form-control " type="text" name="carname" placeholder="Car Name"></td>
											<td><input class="form-control " type="text" name="carweight" placeholder="Weight (oz)" required></td>
											<td><input class="form-control " type="text" name="driver" placeholder="Driver Name" required></td>
											<td>
												<select class="form-control " name="classid" required>
													<option value="" disabled selected>Class</option>
													{{range .Season.Classes}}
													<option value="{{.Id}}">{{.Name}}</option>
													{{end}}
												</select>
											</td>
											<td><button class="btn btn-primary">Add</button></td>
										</form>
									</tr>
									{{end}}
								</tbody>
							</table>
						</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row offset-md-2">
					<div class="col">
						<h5>Classes</h5>
					</div>
				</div>
				<div class="row offset-md-2">
						<div class="col">
							<ul>
								{{range .Season.Classes}}
								<li>{{.Name}}</li>
								{{end}}
							</ul>
						</div>
				</div>
				<div class="row offset-md-2">
					<div class="col">
						<form class="form-inline" method="post">
							<input type="hidden" name="action" value="addclass">
							<input class="form-control form-control-sm" type="text" name="classname" placeholder="Class Name" required>
							<button class="btn btn-sm btn-primary m-2">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "foot"}}
