{{$sid := .Season.Id}}
{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item">{{.Season.Name}}</li>
		<li class="breadcrumb-item active">Leaderboard</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3>Season: {{.Season.Name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				{{range $k, $v := .Tabs}}
				<li class="nav-item">
					<a class="nav-link {{if $v.Active}}active{{end}}" href="season?id={{$sid}}&tab={{$k}}">{{$v.Name}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				{{if not .Season.Runs}}
						<form class="form-inline p-4" method="post">
							<input type="hidden" name="action" value="generateheats">
							<button class="btn btn-sm btn-primary ml-2">Generate Heats!</button>
						</form>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "foot"}}
