{{$sid := .Season.Id}}
{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item active">{{.Season.Name}}</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3>Season: {{.Season.Name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				{{range $k, $v := .Tabs}}
				<li class="nav-item">
					<a class="nav-link {{if $v.Active}}active{{end}}" href="season?id={{$sid}}&tab={{$k}}">{{$v.Name}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				{{$heats := .Season.Heats}}
				{{if not $heats}}
					<form class="form-inline p-4" method="post">
						<input type="hidden" name="action" value="generateheats">
						<button class="btn btn-sm btn-primary ml-2">Generate Heats!</button>
					</form>
				{{else}}
				<div class="row">
						<div class="col">
							<table class="table table-hover table-sm table-bordered text-center">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Red</th>
										<th scope="col">Green</th>
										<th scope="col">Blue</th>
										<th scope="col">Yellow</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{{range $heats}}
									<tr>
										<td>{{.Number}}</td>
										<td>{{if .Red}}{{if .Red.Time.Valid}}{{.Red.Time.Float64}}{{end}}{{else}}&lt;none&gt;{{end}}</td>
										<td>{{if .Green}}{{if .Green.Time.Valid}}{{.Green.time.Float64}}{{end}}{{else}}&lt;none&gt;{{end}}</td>
										<td>{{if .Blue}}{{if .Blue.Time.Valid}}{{.Blue.time.Float64}}{{end}}{{else}}&lt;none&gt;{{end}}</td>
										<td>{{if .Yellow}}{{if .Yellow.Time.Valid}}{{.Yellow.time.Float64}}{{end}}{{else}}&lt;none&gt;{{end}}</td>
										<td><a href="#">Edit</a></td>
									</tr>
									{{end}}
								</tbody>
							</table>
						</div>
				</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "foot"}}
