<div class="row text-center p-2">
	<div class="col">
		<div class="bg-danger mb-3" style="width: 100%; height: 1.5rem"></div>
		{{if .Red}}
		<h4 class="text-secondary">{{.Red.Car.Number}}</h4>
		<h3>{{.Red.Car.Name}}</h3>
		<h4 class="text-secondary">{{.Red.Car.Driver}}</h4>
		{{end}}
	</div>
	<div class="col">
		<div class="bg-success mb-3" style="width: 100%; height: 1.5rem"></div>
		{{if .Green}}
		<h4 class="text-secondary">{{.Green.Car.Number}}</h4>
		<h3>{{.Green.Car.Name}}</h3>
		<h4 class="text-secondary">{{.Green.Car.Driver}}</h4>
		{{end}}
	</div>
	<div class="col">
		<div class="bg-primary mb-3" style="width: 100%; height: 1.5rem"></div>
		{{if .Blue}}
		<h4 class="text-secondary">{{.Blue.Car.Number}}</h4>
		<h3>{{.Blue.Car.Name}}</h3>
		<h4 class="text-secondary">{{.Blue.Car.Driver}}</h4>
		{{end}}
	</div>
	<div class="col">
		<div class="bg-warning mb-3" style="width: 100%; height: 1.5rem"></div>
		{{if .Yellow}}
		<h4 class="text-secondary">{{.Yellow.Car.Number}}</h4>
		<h3>{{.Yellow.Car.Name}}</h3>
		<h4 class="text-secondary">{{.Yellow.Car.Driver}}</h4>
		{{end}}
	</div>
	<div class="col-2">
	</div>
</div>
<form method="post" class="row">
	<input type="hidden" name="action" value="heattimes">
	<div class="col">
		{{if .Red}}
		<input class="form-control form-control-lg" name="redtime" placeholder="Red Time" value="{{if .Red.Time.Valid}}{{.Red.Time.Float64}}{{end}}" required>
		{{end}}
	</div>
	<div class="col">
		{{if .Green}}
		<input class="form-control form-control-lg" name="greentime" placeholder="Green Time" value="{{if .Green.Time.Valid}}{{.Green.Time.Float64}}{{end}}" required>
		{{end}}
	</div>
	<div class="col">
		{{if .Blue}}
		<input class="form-control form-control-lg" name="bluetime" placeholder="Blue Time" value="{{if .Blue.Time.Valid}}{{.Blue.Time.Float64}}{{end}}" required>
		{{end}}
	</div>
	<div class="col">
		{{if .Yellow}}
		<input class="form-control form-control-lg" name="yellowtime" placeholder="Yellow Time" value="{{if .Yellow.Time.Valid}}{{.Yellow.Time.Float64}}{{end}}" required>
		{{end}}
	</div>
	<div class="col-2">
		<button class="btn btn-lg btn-primary">Save &amp; Next</button>
	</div>
</form>
