{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item">{{.Data.Name}}</li>
		<li class="breadcrumb-item active">Leaderboard</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3>Season: {{.Data.Name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				<li class="nav-item active">
					<a class="nav-link" href="season?id={{.Data.Id}}">Racers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="season?id={{.Data.Id}}&tab=leaderboard">Leaderboard</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
		</div>
	</div>
</div>

<script>
	setTimeout(function(){ location.reload(true); },5000);
</script>

{{template "foot"}}
