{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item active">{{.Name}}</li>
	</ol>
</nav>
<h3>Season: {{.Name}}</h3>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Racers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Classes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Leaderboard</a>
  </li>
</ul>

{{template "foot"}}
