{{template "head"}}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Seasons</a></li>
		<li class="breadcrumb-item active">{{.Data.Name}}</li>
	</ol>
</nav>
{{template "error" .Errors}}
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3>Season: {{.Data.Name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs">
				<li class="nav-item active">
					<a class="nav-link active" href="">Cars</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="season?id={{.Data.Id}}&tab=leaderboard">Leaderboard</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row p-2">
			<div class="col">
				<div class="row">
					<div class="col">
						<h5>Cars</h5>
					</div>
				</div>
				<div class="row">
						<div class="col">
							<table class="table table-hover table-sm">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Car Name</th>
										<th scope="col">Weight (oz)</th>
										<th scope="col">Driver</th>
										<th scope="col">Class</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{{range .Data.Cars}}
									<tr>
										<td>{{.Number}}</td>
										<td>{{.Name}}</td>
										<td>{{.Weight}}</td>
										<td>{{.Driver}}</td>
										<td>{{.Class}}</td>
										<td></td>
									</tr>
									{{end}}
									<tr>
										<form class="form-inline" method="post">
											<input type="hidden" name="action" value="addcar">
											<td><input class="form-control" type="text" name="carnumber" placeholder="Car Number" maxlength="3"></td>
											<td><input class="form-control " type="text" name="carname" placeholder="Car Name" required></td>
											<td><input class="form-control " type="text" name="carweight" placeholder="Weight (oz)" required></td>
											<td><input class="form-control " type="text" name="driver" placeholder="Driver Name" required></td>
											<td>
												<select class="form-control " name="classid" required>
													<option value="" disabled selected>Class</option>
													{{range .Data.Classes}}
													<option value="{{.Id}}">{{.Name}}</option>
													{{end}}
												</select>
											</td>
											<td><button class="btn btn-primary">Add Car</button></td>
										</form>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
				<!--
				<div class="row">
					<form class="form-inline" method="post">
						<input type="hidden" name="action" value="addcar">
						<input class="form-control" type="text" name="carnumber" placeholder="Car Number" maxlength="3">
						<input class="form-control ml-2" type="text" name="carname" placeholder="Car Name" required>
						<input class="form-control ml-2" type="text" name="carweight" placeholder="Weight (oz)" required>
						<input class="form-control ml-2" type="text" name="driver" placeholder="Driver Name" required>
						<select class="form-control ml-2" name="classid" required>
							<option value="" disabled selected>Class</option>
							{{range .Data.Classes}}
							<option value="{{.Id}}">{{.Name}}</option>
							{{end}}
						</select>
						<button class="btn btn-primary ml-2">Add Car</button>
					</form>
				</div>
				-->
			</div>
			<div class="col-3">
				<div class="row offset-md-2">
					<div class="col">
						<h5>Classes</h5>
					</div>
				</div>
				<div class="row offset-md-2">
						<div class="col">
							<ul>
								{{range .Data.Classes}}
								<li>{{.Name}}</li>
								{{end}}
							</ul>
						</div>
				</div>
				<div class="row offset-md-2">
					<div class="col">
						<form class="form-inline" method="post">
							<input type="hidden" name="action" value="addclass">
							<input class="form-control form-control-sm" type="text" name="classname" placeholder="Class Name" required>
							<button class="btn btn-sm btn-primary ml-2">Add Class</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "foot"}}
